:root{
    --fekete: black;
    --feher: white;
    --kek: blue;
}
#carouselExampleInterval{
    width: 1020px;
    height: 425px;
    display: flex;
    overflow: hidden;
    top: 65px;
    left: -40px;
    border-radius: 10px;
    margin-bottom: 70px;
}

.search{
    width: 50% !important;
}

.filterek{
    display: flex;
    justify-content: space-evenly;
    visibility: hidden;
}

.carousel-control-prev-icon{
    background-color: var(--fekete) !important;
    border-radius: 50px 0px 0px 50px;
}
.carousel-control-next-icon{
    background-color: var(--fekete) !important;
    border-radius: 0px 50px 50px 0px;  
}
.flex-container{
    height: 100%;
    padding: 0;
    padding-top: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;   
}
@media only screen and (max-width: 542px) {
}
video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .video-wrapper {
    border: 2px solid var(--fekete);
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 5px;
    border-radius: 25px 25px 25px 25px;
  }
  .header{
    position: relative;
    color: var(--feher);
    text-shadow: 1px 1px 8px var(--fekete);
  }

 
#filmKep{
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}

#cim{
    margin-left: 800px;
    font-size: 50px;
    color: white;
}


#jok, #neutral, #rosszak{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,280px);
}

#jok{
    margin-left: 120px;
    margin-top: 40px;
    margin-right: 120px;
    background-color: RGBA(9, 158, 22, 0.7);
}
#neutral{
    margin-left: 120px;
    margin-top: 40px;
    margin-right: 120px;
    background-color: RGBA(245, 222, 71, 0.7);
}
#rosszak{
    margin-left: 120px;
    margin-top: 40px;
    margin-right: 120px;
    background-color: RGBA(212, 23, 23, 0.7);
}

body{
    background-image: url('kepek/background.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.navbar{
    margin-left: 50px;
    margin-right: 50px;
}